# =========================================================
# Adobe Access Manager
# Environment Configuration
# =========================================================

# -----------------------------
# Application
# -----------------------------
APP_ENV=development
APP_NAME=Adobe Access Manager

# Preview Mode
MOCK_ADOBE=true
ADOBE_WRITE_ENABLED=false

# -----------------------------
# Security
# -----------------------------
APP_SECRET=change-me

# -----------------------------
# User Validation
# -----------------------------
ALLOWED_EMAIL_DOMAINS=bsci.com
DEFAULT_COUNTRY=US
DEFAULT_IDENTITY_TYPE=federatedID

# -----------------------------
# Adobe IMS
# -----------------------------
ADOBE_ORG_ID=

ADOBE_CLIENT_ID=

ADOBE_CLIENT_SECRET=

ADOBE_SCOPES=

ADOBE_IMS_TOKEN_URL=https://ims-na1.adobelogin.com/ims/token/v3

# -----------------------------
# Adobe User Management API
# -----------------------------
ADOBE_UMAPI_BASE_URL=https://usermanagement.adobe.io/v2/usermanagement

# -----------------------------
# Application
# -----------------------------
CACHE_TTL_MINUTES=30

AUTO_VALIDATE_ADOBE=true

LOG_LEVEL=INFO